* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
    background: #EDEFF5;
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

.container {
    justify-content: center;
    align-content: center;
}

.banner {
    width: 100%;
    height: 700px;
    object-fit: cover;
}

.main-content {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-top: 800px;
    padding-right: 0;
}

.main-content h1 {
    font-family: "Roboto";
    font-size: 28px;
    padding-left: 50px;
    padding-top: 25px;
}

.main-content h2 {
  font-size: 24px;
  padding-left: 50px;
  padding-top: 25px;
}

.main-content p {
    font-family: Roboto Serif;
    font-size: 20px;
    padding: 10px 50px 25px 50px;/* top right bottom left*/
}

.figure {
  display: block;
  margin: 25px auto 50px;
  max-width: 80%;
  height: auto;
}

footer {
    background: #EDEFF5;
    color: black;
    padding: 20px;
    text-align: center;
    border-top: 1px solid black;
}