.header {
    position: fixed;
    width: 100%;
    height: 100px;
    line-height: 80px;
    padding-top: 15px;
    background-color: white;
    text-align: center;
    color: black;
    font-weight: bolder;
    font-size: 32px;
    font-family: "Roboto";
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header .left-section,
.header .right-section {
    display: flex;
    align-items: center;
}

.header .middle-section {
    display: flex;
    align-items: center;
    text-align: center;
    margin-right: 250px;
}

.home-section .home-content .bx-menu,
.home-section .home-content .text {
  color: black;
  font-size: 35px;
}

.home-section .home-content .bx-menu {
  margin: 0 15px;
  cursor: pointer;
}

