.header {
    position: fixed;
    width: 100%;
    height: 100px;
    line-height: 80px;
    background-color: white;
    padding: 10px 0;
    text-align: center;
    color: black;
    font-weight: bolder;
    font-size: 32px;
    font-family: "Roboto";
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.main-content h1 {
    font-family: "Roboto";
    font-size: 28px;
    padding-left: 50px;
    padding-top: 25px;
}

.home-section .home-content .h1 {
  font-size: 36px;
  font-weight: 600;
  padding-left: 100px;
  padding-top: 25px;
}

.header .left-section,
.header .right-section {
    display: flex;
    align-items: center;
    background-color: lightblue;
}

.header .middle-section {
    display: flex;
    align-items: center;
    text-align: center;
    background-color: lightpink;
}

.home-section .home-content .bx-menu,
.home-section .home-content .text {
  color: black;
  font-size: 35px;
}

.home-section .home-content .bx-menu {
  margin: 0 15px;
  cursor: pointer;
}

