.sidebar {
    width: 350px;
    background-color: white;
    position: fixed;
    height: 100%;
    overflow: auto;
    top: 0;
    left: 0;
    bottom: 0;
    border-right: 1px solid rgb(228,228,228);
}

.sidebar-link-a, .sidebar-link-b {
    height: 40px;
    line-height: 40px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1px;
}

.sidebar-link-b {
    color: #00B140;
    border-right: 2px solid #00B140;
}

.sidebar-text-a, .sidebar-text-b {
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.sidebar-text-b {
    color: #00B140;
}

.sidebar-link-a:hover, .sidebar-link-b:hover {
    background-color: #e2e2e2;
    transition: background-color 0.2s;
}

.sidebar-link-a:active, .sidebar-link-b:active {
    background-color: #ddd;
    opacity: 0.7;
}